/* Footer style */
footer {
    align-items: center;
    background-color: white;
    display: flex;
    height: 40px;
    width: 100%;
    border-top: 1px solid #CCCCCC;
    justify-content: center;
    position: fixed;
    bottom: 0;
}